<div><h2>Slide Show :</h2>
<div>
<p>
Slide show is used to display series of still images.Each image is dislayed for a fixed duration and then replaced with next image.
</p>
<br/>
</div>
<div>
<h3>Installing “SlideShow” to your epan:</h3>
<p><ul><li>Goto market place.</li>
<li>Select “SlideShow” and click on Install button.</li></ul>
SlideShow will be installed to your epan and will show in “Your Applications” tab
</p>
<img src="<?template?>images/installSlideShow.png<?/template?>" style="width:500px"/>
<br/><br/>
<h3>Adding SlidShow to your epan page:</h3>
<p><ul><li>Goto to your epan page where you want to add slide show.</li>
<li>From toolbar Drag SlideShow and Drop where you want to add it(it can be a Container, Row or Column)</li></ul>
Note: if you are having any problem in dropping at desired place you may check on easy drop and show border option appeared in your toolbar.
</p>
<img src="<?template?>images/addingToPage.png<?/template?>" style="width:700px"/>
<br/><br/>
<h3>Adding images in SlideShow:</h3>
<p><ul><li><b>Double click on  SlideShow</b> added on your page (or you can select SlideShow and press F4 key) to view “Option Window”. 
</li>
<li>to add images in SlideShow select Add New Image. A window will appear. This window contains images you have uploaded before or you can upload new images here.
</li>
<li>To Add images select desired image and press Enter(do not use double click)</li>
</ul>
</p>
<img src="<?template?>images/addImage.png<?/template?>" style="width:700px"/>
<br/><br/>
<h3>Image below shows other properties available :</h3>
<img src="<?template?>images/optionWin.jpg<?/template?>" style="width:500px"/>
<br/><br/>
<p><b>Tip:</b> Aspect ratio of all images in slide show should be equal.</p>
<p><b>Note:</b> 
<ol>
<li>If you are having any problem in dropping at desired place you may check on easy drop and show border option appeared in your toolbar.
</li>
<li>Do not select multiple images at one to add on slide show. Add them one by one.
</li>
<li>You can drag image URL in Added Slides tab to rearrange them.
</li>
<li>To remove a slide drag it to the bottom and click Delete Last Slide.
</li>
</ol>
</p>

</div>
