<div id='<?$_name?>' <?$attributes?> class='slide <?$class?> ' style='position:relative; <?$style?>' >
	<div class='carousel-inner'>
	</div>
	 <!-- Controls -->
	  <a class="left carousel-control" href="#__COMPONENTID__" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#__COMPONENTID__" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	<script type="text/javascript">
		$(function(){
				$('#__COMPONENTID__').carousel();
		});
	<\/script>
</div>