<div id="<?$_name?>" style="<?$style?> ">
<?total_visit_visible?>
<div class='row'>
	<div class='col-md-6'>
		<small>Total Visits</small>
	</div>
	<div class='col-md-6 <?$class?>'>
		<?$total_visit?>
	</div>
</div>
<?/total_visit_visible?>

<?yearly_visits_visible?>
	<div class='row'>
		<div class='col-md-6'>
			<small>Yearly Visits</small> 	
		</div>
		<div class='col-md-6 <?$class?>'>
			<?$yealry_visit?>
		</div>
	</div>
<?/yearly_visits_visible?>

<?monthly_visits_visible?>
	<div class='row'>
		<div class='col-md-6'>
			<small>Monthly Visits</small> 	
		</div>
		<div class='col-md-6 <?$class?>'>
			<?$monthly_visit?>
		</div>
	</div>
<?/monthly_visits_visible?>

<?daily_visits_visible?>
	<div class='row'>
		<div class='col-md-6'>
			<small>Daily Visits</small> 	
		</div>
		<div class='col-md-6 <?$class?>'>
			<?$daily_visit?>
		</div>
	</div>
<?/daily_visits_visible?>

</div>