        <?$Content?>
        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard <small>Statistics Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to EPAN BRNACH Admin by <a class="alert-link" href="http://xavoc.com">Xavoc Technocrats Pvt. Ltd.</a>! We at Xavoc are comitted to provide you best of your own company. We are about to provide you best of our services so that you can run your business better.
            </div>
          </div>
        </div><!-- /.row -->