<div id='<?$_name?>' class="<?$class?>" style="<?$style?>">
    <?Item?>
	<div class='row container'>
	
	        <?MenuItem?>
	        <ul>
	        <a href="<?$href?>">
			<div style='width:150px; float:left;margin:10px;'>
				<div class="panel panel-<?panel_type?>info<?/panel_type?>">
	              <div class="panel-heading">
	                <div class="row">
	                  <div class="col-xs-3">
	                    <i class="fa fa-<?icon?>comments<?/icon?> fa-5x"></i>
	                    <h4><?label?>MenuItem<?/?></h4>
	                  </div>
	                  <div class="col-xs-9 text-right">
	                    <p class="announcement-heading"><?$type?></p>
	                    <p class="announcement-text"><?$name?></p>
	                  </div>
	                </div>
	              </div>
	                <div class="panel-footer announcement-bottom">
	                  <div class="row">
		              
		              
	                  </div>
	                </div>
	            </div>
			</div>
			</a>
			</ul>
	        <?/MenuItem?>
	    <?/?>
	</div>
</div>