<!doctype html>
<!--[if lte IE 8]>     <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class=""> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content="Cascading grid layout library" />

  <title>Isotope License</title>

  
    <!-- DEV MODE - including each .css file -->
    
      <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    
      <link rel="stylesheet" href="../css/base.css" />
    
      <link rel="stylesheet" href="../css/code.css" />
    
      <link rel="stylesheet" href="../css/demos.css" />
    
      <link rel="stylesheet" href="../css/footer.css" />
    
      <link rel="stylesheet" href="../css/hero.css" />
    
      <link rel="stylesheet" href="../css/icons.css" />
    
      <link rel="stylesheet" href="../css/index.css" />
    
      <link rel="stylesheet" href="../css/layout.css" />
    
      <link rel="stylesheet" href="../css/modules.css" />
    
      <link rel="stylesheet" href="../css/site-nav.css" />
    
  

  
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@metafizzyco" />
  <meta name="twitter:url" content="http://isotope.metafizzy.co/license.html" />
  <meta name="twitter:title" content="Isotope License" />
  <meta name="twitter:description" content="filtering &amp; sorting magical layout library" />

</head>
<body class="license-page" data-page="license">

  <div id="top-banner">
    <div class="primary-content">
      <h2>Isotope v2 beta</h2>
      <p>
        <a href="../appendix.html#upgrading-from-v1">Changes from Isotope v1.</a>
        <a href="https://github.com/desandro/isotope/issues/new">Report any issues with Isotope v2.</a>
        <i>Thanks for being brave!</i>
      </p>
    </div>
  </div>

  <div id="site-nav">
    <h1><a href="../.">Isotope</a></h1>
    <ol>
      <li class="nav-filtering"><a href="../filtering.html">Filtering</a></li>
      <li class="nav-sorting"><a href="../sorting.html">Sorting</a></li>
      <li class="nav-layout-modes">
        <a href="../layout-modes.html">Layout modes</a>
        <ul>
          <li class="nav-masonry"><a href="../layout-modes/masonry.html">masonry</a></li>
          <li class="nav-fitrows"><a href="../layout-modes/fitrows.html">fitRows</a></li>
          <li class="nav-cellsbyrow"><a href="../layout-modes/cellsbyrow.html">cellsByRow</a></li>
          <li class="nav-vertical"><a href="../layout-modes/vertical.html">vertical</a></li>
          <li class="nav-masonryhorizontal"><a href="../layout-modes/masonryhorizontal.html">masonryHorizontal</a></li>
          <li class="nav-fitcolumns"><a href="../layout-modes/fitcolumns.html">fitColumns</a></li>
          <li class="nav-cellsbycolumn"><a href="../layout-modes/cellsbycolumn.html">cellsByColumn</a></li>
          <li class="nav-horizontal"><a href="../layout-modes/horizontal.html">horizontal</a></li>
        </ul>
      </li>
      <li class="nav-options"><a href="../options.html">Options</a></li>
      <li class="nav-methods"><a href="../methods.html">Methods</a></li>
      <li class="nav-events"><a href="../events.html">Events</a></li>
      <li class="nav-license"><a href="../license.html">License</a></li>
      <li class="nav-appendix"><a href="../appendix.html">Appendix</a></li>
      <li class="nav-faq"><a href="../faq.html">FAQ</a></li>
    </ol>
  </div>

  
  

  <div id="content">

    <div class="primary-content">
      
        <h1>License</h1>
        

      
      
        <ul id="page-nav">
          
            <li><a href="#commercial-licensing">Commercial licensing</a></li>
          
            <li><a href="#isotope-commercial-license-agreement">Isotope Commercial License Agreement</a></li>
          
        </ul>
      
    </div>

    
    
<div class="primary-content">

<p>Isotope may be used in commercial projects and applications with the one-time purchase of a commercial license.</p>

<h3>Open source license</h3>

<p>For non-commercial, personal, or open source projects and applications, you may use Isotope under the terms of the <a href="http://choosealicense.com/licenses/gpl-v3/">GPL v3 License</a>. You may use Isotope for free.</p>

<h3>What is commercial considered?</h3>

<p>If you are paid to do your job, and part of your job is implementing Isotope, a commercial license is required.</p>

</div><div class="primary-content">

<h2 id="commercial-licensing">Commercial licensing</h2>

<p>Purchasing accepts most credit cards and takes seconds. Once purchased, you&rsquo;ll receive a commercial license PDF and you will be all set to use Isotope in your commercial applications.</p>

<p>With the purchase of a commercial license:</p>

<ul>
  <li>You may use Isotope in as many commercial applications you like.</li>
  <li>You may use Isotope in your own commercial applications and products. For example: premium WordPress, Tumblr, or other CMS themes, plugins and templates.</li>
  <li>Customers and users of your products do <strong>not</strong> need to purchase their own license &mdash; so long as they are not developing their own commercial products with Isotope.</li>
</ul>

<p>The commercial license comes in two varieties:</p>


<h3>Isotope Commercial Developer License</h3>

<div class="row">
  <div class="cell">
    <p>The Isotope Commercial Developer License is for individual developers. This license is priced per developer. Each individual developer needs to purchase a separate license. A developer is someone who implements Isotope, and probably types <code>.isotope()</code> at some point.</p>
  </div>
  <div class="cell">
    <a class="button buy-button" href="https://www.simplegoods.co/i/WFOLIVJF">
  <span class="label">Buy Developer License</span>
  <span class="price">
    <span class="dollar">$</span><span class="amount">25</span>
  </span>
</a>

  </div>
</div>


<h3>Isotope Commercial Organization License</h3>

<div class="row">
  <div class="cell">
    <p>The Isotope Commercial Organization License is for an organization with a team of developers. The license covers the entire team no matter how many developers are working on it.</p>
  </div>
  <div class="cell">
    <a class="button buy-button" href="https://www.simplegoods.co/i/NWONVKMO">
  <span class="label">Buy Organization License</span>
  <span class="price">
    <span class="dollar">$</span><span class="amount">90</span>
  </span>
</a>

  </div>
</div>

<h3 id="paypal">Purchase with PayPal</h3>

<ul>
  <li><a href="http://pul.ly/b/13620">Buy Developer License with PayPal</a></li>
  <li><a href="http://pul.ly/b/36595">Buy Organization License with PayPal</a></li>
</ul>

</div><div class="primary-content">

<h2 id="isotope-commercial-license-agreement">Isotope Commercial License Agreement</h2>

<p>This Commercial License Agreement is a binding legal agreement between you and Metafizzy LLC (<b>Metafizzy</b>). By installing, copying, or using Isotope (the <b>Software</b>), you agree to be bound by these terms of this Agreement.</p>

<h3>Grant of License</h3>

<p>Subject to the payment of the fee required and the conditions herein, you are hereby granted a non-exclusive, non-transferable right to use Isotope (the <b>Software</b>) to design and develop commercial applications (<b>Applications</b>).</p>

<h4>Developer Grant</h4>

<p>The Isotope Commercial Developer License grants 1 license for you as 1 designated user (<b>Developer</b>) to use the Software for the purpose of developing Applications. A Developer is an individual who implements the Software into Applications, most often writing the necessary code to do so. You must purchase another separate license to the Software for each and any additional Developer, or purchase a Isotope Commercial Organization License to cover your organization as a whole.</p>

<h4>Organization Grant</h4>

<p>The Isotope Commercial Organization License grants 1 license for your Organization as 1 designated, collective user (<b>Organization</b>) to use the Software for the purpose of developing Applications. There is no limit or restriction of the number of Developers within your Organization who may develop Applications using the Software.</p>

<h4>Usage</h4>

<p>You are granted the right to use and to modify the source code of the Software for use in Applications. There is no limit or restriction of the number of Applications which use the Software. You own any original work authored by you. Metafizzy continues to retain all copyright and other intellectual property rights in the Software. You are not permitted to move, remove, edit, or obscure any copyright, trademark, attribution, warning or disclaimer notices in the Software.</p>

<p>You may use the Software only to create Applications that are significantly different than and do not compete with the Software. You are granted the license to distribute the Software as part of your Applications on a royalty-free basis. Users of your Applications are permitted to use the Software or your modifications of the Software as part of your Applications. Users do not need to purchase their own commercial license for the Software, so long as they are not acting as Developers, developing their own commercial Applications with the Software.</p>

<h3>Warranties and Remedies</h3>

<p>The Software is provided &ldquo;as is&rdquo;, without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. Metafizzy&rsquo;s entire liability and your exclusive remedy under this agreement shall be return of the price paid for the Software.</p>

</div>


  </div>

  <div id="footer">
    <div class="footer-content">
      
      <a class="metafizzy-logo" href="http://metafizzy.co">M<span class="etafizzy">etafizzy</span></a>
      <span class="copyright">&copy; 2013</span>
    </div>
  </div>

<!-- Isotope does NOT require jQuery. But it does make things easier -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../bower_components/jquery/jquery.min.js"><\/script>')</script>


  <!-- DEV MODE - including each .js file -->
  
    <script src="../bower_components/classie/classie.js"></script>
  
    <script src="../bower_components/eventie/eventie.js"></script>
  
    <script src="../bower_components/doc-ready/doc-ready.js"></script>
  
    <script src="../bower_components/get-style-property/get-style-property.js"></script>
  
    <script src="../bower_components/eventEmitter/EventEmitter.js"></script>
  
    <script src="../bower_components/imagesloaded/imagesloaded.js"></script>
  
    <script src="../bower_components/get-size/get-size.js"></script>
  
    <script src="../bower_components/jquery-bridget/jquery.bridget.js"></script>
  
    <script src="../bower_components/matches-selector/matches-selector.js"></script>
  
    <script src="../bower_components/outlayer/item.js"></script>
  
    <script src="../bower_components/outlayer/outlayer.js"></script>
  
    <script src="../bower_components/masonry/masonry.js"></script>
  
    <script src="../bower_components/isotope/js/item.js"></script>
  
    <script src="../bower_components/isotope/js/layout-mode.js"></script>
  
    <script src="../bower_components/isotope/js/isotope.js"></script>
  
    <script src="../bower_components/isotope/js/layout-modes/vertical.js"></script>
  
    <script src="../bower_components/isotope/js/layout-modes/fit-rows.js"></script>
  
    <script src="../bower_components/isotope/js/layout-modes/masonry.js"></script>
  
    <script src="../bower_components/isotope-cells-by-column/cells-by-column.js"></script>
  
    <script src="../bower_components/isotope-cells-by-row/cells-by-row.js"></script>
  
    <script src="../bower_components/isotope-fit-columns/fit-columns.js"></script>
  
    <script src="../bower_components/isotope-horizontal/horizontal.js"></script>
  
    <script src="../bower_components/isotope-masonry-horizontal/masonry-horizontal.js"></script>
  
    <script src="../js/controller.js"></script>
  
    <script src="../js/pages/appendix.js"></script>
  
    <script src="../js/pages/events.js"></script>
  
    <script src="../js/pages/filtering.js"></script>
  
    <script src="../js/pages/index.js"></script>
  
    <script src="../js/pages/layout-modes.js"></script>
  
    <script src="../js/pages/methods.js"></script>
  
    <script src="../js/pages/sorting.js"></script>
  
    <script src="../js/pages/vertical.js"></script>
  




</body>
</html>
