        <div class="row">
          <div class="col-lg-12">
            <h1>Dashboard : <?$current_epan?> <small>Statistics Overview</small></h1>
            <ol class="breadcrumb">
              <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
            </ol>
            <div class="alert alert-success alert-dismissable">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              Welcome to EPAN Admin by <a class="alert-link" href="http://xavoc.com">Xavoc Technocrats Pvt. Ltd.</a>! Feel free to explore the various features. All Content on this page are HYPOTHETICAL and do not represents original data. We are working hard to provide you better online experience.
            </div>
          </div>
        </div><!-- /.row -->
        <?$Content?>

