<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="?page=owner_dashboard">EPAN Owner Dashboard</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            <li class="<?$owner_dashboard?>"><a href="?page=owner_dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="<?$owner_dashboard?>"><a href="?page=owner_users"><i class="fa fa-dashboard"></i> Users Management</a></li>
            <li class='<?$owner_epanpages?>'><a href="?page=owner_epanpages"><i class="fa fa-desktop"></i> Epan Pages</a></li>
            <li class='<?$owner_epansettings?>'><a href="?page=owner_epansettings"><i class="fa fa-wrench"></i> Epan General Settings</a></li>
            <li class='<?$owner_installedcomponents?>'><a href="?page=owner_installedcomponents"><i class="fa fa-bar-chart-o"></i> Installed Applications</a></li>
            <li class='<?$owner_searchmarket?>'><a href="?page=owner_applicationrepository"><i class="fa fa-bar-chart-o"></i> Epan App Repository </a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right navbar-user">
         
            <?$message?>
            <?$alert?>
            <li class="dropdown user-dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <?epan_name?>Epan Owner<?/epan_name?> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge"><?$total_messages?></span></a></li>
                <li><a href="?page=owner_epansettings"><i class="fa fa-gear"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="?page=logout"><i class="fa fa-power-off"></i> Log Out</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>