<p>Dear Epan Customer, </p>

<h4>You just got an enquiry from your epan http://<?$epan?>.epan.in </h4>

<p>
	Congratulations!!! You got an enquiry. Please hurry up and reply to your enquiry. 

	<h4>DO NOT REPLY TO THIS EMAIL.</h4>

	<h2>The Form Entries are as follows:</h2>

	<?$form_entries?>

	<blockquote>
		Regards <br><br>

		Epan.in Team <br>
		<h4>powered by : <a href='http://www.xavoc.com'>Xavoc Technocrats Pvt. Ltd.</a></h4>
	</blockquote>
	<hr/>
	<small>
		Disclaimer: Xavoc Technocrats Pvt. Ltd. and Epan.in do not claims for any kind of ranking in any search engine or we do not guarenty for any sales through your epan. We at epan.in are selling the epan only and this is a yearly service. We are free to de activate your epan once the time limit of a year is reached. To continue the services you have to renew your epan. We may remind you for renewal but it is not concidered to be a company part.<br/>
		Privacy policy: This information is solely intended for the customer only. If you have received this email in error. Kinldy inform us at info@epan.in and delete this email in urgent.
	</small>
</p>